/* introduction.css */

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

.ballet-font {
  font-family: 'Ballet', cursive;
  margin-bottom: 20px;
}

.ballet-font a {
  color: var(--coffee); /* Change to your desired color */
  text-decoration: none; /* Remove the underline */
  cursor: pointer; /* Add a pointer cursor on hover */

  
}

.ballet-font h1 {
  margin: 10px;
  font-size: 1.5rem;

}

.img1 {
  max-width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}


